<!DOCTYPE html>
<html>

<head>
<title>Add Expense</title>
<link rel="stylesheet" href="../css/style.css">
</head>

<body>

<div class="main-box">

<h2>Add Savings</h2>

<form id="savingForm">

<input type="text" id="title" placeholder="Saving Title" required>

<input type="number" id="amount" placeholder="Amount" required>
<input type="number" id="amount" placeholder="Amount" required>

<select id="category">
<option>Food</option>
<option>Transport</option>
<option>Medical</option>
<option>Education</option>
<option>Other</option>
</select>

<button type="submit">Add Saving</button>

</form>

</div>

<script src="../js/expenses.js"></script>

</body>

</html>